## Shopper Id Verification

**Shopper Id Verification** is used to configure the additional details captured for each customer ID type. For example, capture the First Name, Last Name and Date of Birth when a shopper presents a Driver License as the ID.